<% if @events.length > 0 %>
  $("<%= escape_javascript(render @events) %>").appendTo(".report_events #events tbody");

  <% unless @grouped_events_by_date.nil? %>
    $("<%= escape_javascript(render partial: 'grouped_by_date', locals: @grouped_events_by_date) %>").appendTo("#table_group_date tbody");
  <% end %>

  <% unless @grouped_events_by_hour.nil? %>
    $("<%= escape_javascript(render partial: 'grouped_by_hour', locals: @grouped_events_by_hour) %>").appendTo("#table_group_hour tbody");
  <% end %>

  <% unless @grouped_events_by_event_type.nil? %>
    $("<%= escape_javascript(render partial: 'grouped_by_event_type', locals: @grouped_events_by_event_type) %>").appendTo("#table_group_event_type tbody");
  <% end %>

  <% unless @grouped_events_by_browser.nil? %>
    $("<%= escape_javascript(render partial: 'grouped_by_browser', locals: @grouped_events_by_browser) %>").appendTo("#table_group_browser tbody");
  <% end %>

  <% unless @grouped_events_by_domain.nil? %>
    $("<%= escape_javascript(render partial: 'grouped_by_domain', locals: @grouped_events_by_domain) %>").appendTo("#table_group_domain tbody");
  <% end %>
<% else %>
  $(".event-reporter-wrapper").after("<div class='no-content'><div class='container'><div class='row'><div class='col-md-12 col-xs-12'><h3>No content</h3></div></div></div></div>");
<% end %>