.event-reporter-wrapper
  .container
    .row
      .col-md-12.col-xs-12
        .title
          .h1 Event Report
        .form-block
          = form_tag event_path, method: :get, remote: true, id: 'event_report_form' do
            .row
              .col-md-4.form-group
                = label_tag :date_start, 'Select start date'
                .input-group.date
                  = text_field_tag :date_start, nil, class: 'form-control type'
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
              .col-md-4.form-group
                = label_tag :date_end, 'Select end date'
                .input-group.date
                  = text_field_tag :date_end, nil, class: 'form-control type'
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            .row
              .col-md-12.form-group
                = label_tag :browser, 'Select User-Agent'
                = select_tag :browser, options_from_collection_for_select(@browsers, "id", "name"), include_blank: '', class: 'form-control'
            .row
              .col-md-3.form-group
                = label_tag  :domain, 'Select domain'
                = select_tag :domain, options_from_collection_for_select(@domains, "id", "name"), include_blank: '', class: 'form-control'
              .col-md-3.form-group
                = label_tag :event_type, 'Select event type'
                = select_tag :event_type, options_from_collection_for_select(@events, "event_type", "event_type"), include_blank: '', class: 'form-control'
            .row
              .col-md-2.form-group
                .checkbox
                  = label_tag :group_date
                    = check_box_tag :group_date
                    | Group by date
              .col-md-2.form-group
                .checkbox
                  = label_tag :group_hour
                    = check_box_tag :group_hour
                    | Group by hour
              .col-md-2.form-group
                .checkbox
                  = label_tag :group_event_type
                    = check_box_tag :group_event_type
                    | Group by event type
              .col-md-2.form-group
                .checkbox
                  = label_tag :group_browser
                    = check_box_tag :group_browser
                    | Group by browser
              .col-md-2.form-group
                .checkbox
                  = label_tag :group_domain
                    = check_box_tag :group_domain
                    | Group by domain

            .row
              .col-md-6.form-group
                = submit_tag "Show Report"

    .report_events
      .container
        h3 Events report
        table.table.table-striped id="events"
          thead
            tr
              th Event type
              th Browser
              th Domain
              th Event date
              th Event hour
              th Counter
          tbody

    .group_date
      .container
        h3 Group by date
        table.table.table-striped id="table_group_date"
          thead
            tr
              th Date
              th Count
          tbody

    .group_hour
      .container
        h3 Group by hour
        table.table.table-striped id="table_group_hour"
          thead
            tr
              th Hour
              th Count
          tbody

    .group_event_type
      .container
        h3 Group by event type
        table.table.table-striped id="table_group_event_type"
          thead
            tr
              th Event type
              th Count
          tbody

    .group_browser
      .container
        h3 Group by browser
        table.table.table-striped id="table_group_browser"
          thead
            tr
              th Browser
              th Count
          tbody

    .group_domain
      .container
        h3 Group by domain
        table.table.table-striped id="table_group_domain"
          thead
            tr
              th Domain
              th Count
          tbody