// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-reporter-wrapper {

  .title {
    text-align: center;
  }

  .report_events {
    display: none;
  }

  .group_date {
    display: none;
  }

  .group_hour {
    display: none;
  }

  .group_event_type {
    display: none;
  }

  .group_browser {
    display: none;
  }

  .group_domain {
    display: none;
  }
}

.no-content {

  h3 {
    text-align: center;
  }
}
